@charset "utf-8";
/* CSS Document */
.banner{ width:1380px; overflow: hidden; position: relative; max-height: 460px;margin:45px auto 0; }
.rslides { position: relative; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li {  -webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child { position: relative; display: block; float: left; }
.rslides .img { display: block; height: auto; float: left; width: 100%; border: 0; }
.slide_container { position: relative; float: left; width: 100%;overflow:hidden; }
.slide { position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.slide li { position: absolute; width: 100%; left: 0; top: 0; }

.slide li .text{ position:absolute; bottom:16%; left:5%;background:url(../images/textbg.png) repeat; padding:10px;  font-size:20px;transition: all 0.3s ease;}
.slide li .text a{ color:#fff;}


.slide .img { display: block; position: relative; z-index: 1; height: auto; width: 100%; border: 0; }
.slide_nav { position: absolute; top: 45%; left: 10px; opacity: 0.7; z-index: 3; text-indent: -9999px; overflow: hidden; height: 40px; width:35px; background:url(../images/lf.png) no-repeat left top; margin-top: -22px; }
.slide_nav:active { opacity: 1.0; }
.slide_nav.next { left: auto;background:url(../images/rt.png) no-repeat left top; right: 10px; }
.slide_tabs{position:absolute;left:0;bottom:20px;z-index:999; display: block;text-align: center;width: 100%;}
.slide_tabs li{width:12px;height:12px;border-radius:5px;margin-left:19px;background-color:#ccc;display:inline-block;color:#fff;*zoom:1;*display: inline;}
.slide_tabs li a{color:#fff;display:block;text-indent:-999em;}
.slide_tabs li.slide_here{background:#fff;border-radius:15px;}
.channel{width:100%;bottom:0px;left:0;z-index:20;position:absolute;}
.channel ul{max-width:1120px;margin:0 auto;height:40px;}
.channel ul li{width:25%;float:left;line-height:40px;height:40px;text-align:center;}
.channel ul li:hover{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;}
.channel ul li a{color:#fff;font-weight:bold;font-size:16px;display:block}
.channel ul li.ch01{background-color:#005bac}
.channel ul li.ch02{background-color:#eea200}
.channel ul li.ch03{background-color:#4ba509}
.channel ul li.ch04{background-color:#00988d}
.banner .slider li{background-color:#ccc;}
.banner .slider li img{width: 100%;}
.content{width:100%;overflow:hidden;}
.mode01{max-width:1100px;overflow:hidden; margin: 36px auto 0; }
.news { width: 581px; float: left; }
.news .title { height: 63px; line-height: 63px; border-bottom: 1px solid #003770; }
.news h2 { padding: 0 0 0 20px; background: url(../images/title_bg_03.png) no-repeat left center; width: auto; float: left; font-size: 2.0em; color: #003770; }
.news .title a { float: right; color: #003770; font-size: 1.6em; }
.news_con { overflow: hidden; margin: 30px 0 0 0; }
.news_con dl { width: 271px; float: left; }
.news_con dl.right { float: right; }
.news_con dl dt { width: 271px; height: 176px; margin: 0 0 25px 0;  }
.news_con img { width: 271px; height: 176px; }
.news_con dl dd { padding: 0 0 0 21px; border-left: 1px solid #003770; margin: 0 0 30px 0; }
.news_con a { font-size: 1.4em;  line-height: 22px;  display: block; width: 92%}
.news_con p { font-family: Cambria; font-size: 1.4em; color: #646464; padding: 8px 0 0 0; font-style: oblique; }

.news_con dl.right dd { border-left: 1px solid #cebb1e; }


.tongzhi { width: 480px; float: right; }
.tongzhi .title { height: 63px; line-height: 63px; border-bottom: 1px solid #003770; }
.tongzhi h2 { padding: 0 0 0 20px; background: url(../images/title_bg_03.png) no-repeat left center; width: auto; float: left; font-size: 2.0em; color: #003770; }
.tongzhi .title a { float: right; color: #003770; font-size: 1.6em; }
.tongzhi ul { margin: 30px 0 0 0; }
.tongzhi ul li { height: 69px; margin: 0 0 27px 0; overflow: hidden; }
.tongzhi ul li .date { width: 68px; height: 69px; background: url(../images/date_bg_03.png) no-repeat; display: inline-block; float: left; margin: 0 22px 0 0; }
.tongzhi ul li .day { height: 38px; line-height: 38px; font-size: 25px; font-family: Cambria; color: #fbd99c; width: 35px; display: block; border-bottom: 1px solid #fbd99c; margin: 0 auto; }
.tongzhi ul li .month { height: 30px; line-height: 30px; margin: 0 auto; font-size: 14px; font-family: Cambria; color: #fbd99c; width: 35px; display: block; }
.tongzhi ul li a { width: 364px; display: inline-block; float: left; font-size: 1.4em; line-height: 25px; margin: 10px 0 0 0; }


.mode02 { max-width:1100px;overflow:hidden; margin: 36px auto 0; }
.sm { background: #cccccc; position: relative; }
.sm_con { font-size: 1.4em; color: #ffffff; padding: 56px 35px; background: #205f9f; position: absolute; z-index: 999; width: 490px; height: 120px; top: 42px; right: 90px; line-height: 30px; }
.sm_con p { margin: 10px 0 0 0; text-align: right; }
.sm_con a { color: #fbd99c; }





.mode03{max-width:1100px;overflow:hidden; margin: 36px auto 50px; overflow: hidden; }
.xueshu { width: 581px; float: left; }
.zhidu { width: 480px; float: right; }
.xueshu .title { height: 63px; line-height: 63px; border-bottom: 1px solid #003770; }
.xueshu h2 { padding: 0 0 0 20px; background: url(../images/title_bg_03.png) no-repeat left center; width: auto; float: left; font-size: 2.0em; color: #003770; }
.xueshu .title a { float: right; color: #003770; font-size: 1.6em; }
.xueshu ul { margin: 15px 0 0 0; }
.xueshu ul li { overflow: hidden; font-size: 1.4em; line-height: 35px; padding: 0 0 0 23px; background: url(../images/li_03.png) no-repeat left center; }
.xueshu ul li a { float: left; }
.xueshu ul li span { font-family: Cambria; font-style: oblique; float: right; color: #646464; }





.zhidu .title { height: 63px; line-height: 63px; border-bottom: 1px solid #003770; }
.zhidu h2 { padding: 0 0 0 20px; background: url(../images/title_bg_03.png) no-repeat left center; width: auto; float: left; font-size: 2.0em; color: #003770; }
.zhidu .title a { float: right; color: #003770; font-size: 1.6em; }
.zhidu ul { margin: 15px 0 0 0; }
.zhidu ul li { overflow: hidden; font-size: 1.4em; line-height: 35px; padding: 0 0 0 23px; background: url(../images/li_03.png) no-repeat left center; }
.zhidu ul li a { float: left; }
.zhidu ul li span { font-family: Cambria; font-style: oblique; float: right; color: #646464; }

/*图片轮播*/
.Banner { max-width:1380px; margin:0 auto; }
.slider{ position:absolute; bottom:16%; left:5%;background:url(../images/textbg.png) repeat; padding:10px;  font-size:20px;transition: all 0.3s ease;  color:#fff;}
.flex-direction-nav .flex-prev { width:50px; height:50px; background:url(arrow_left.png); position:absolute; left:20px; top:50%; margin:-25px 0 0 0; z-index:9999; text-indent:9999px; }
.flex-direction-nav .flex-next { width:50px; height:50px; background:url(arrow_right.png); position:absolute; right:20px; top:50%; margin:-25px 0 0 0;  z-index:9999; text-indent:9999px; }
.flexslider{ width:100%;  overflow: hidden; position:relative; }
.flexslider a{display:block; }
.flexslider li a {display: block; transition: all 1s ease 0s;}
.flexslider li a:hover{filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8; }
.flexslider img{ display: block; width:100%;  }
.flexslider .til_slides{ width:100%; height: 40px; position: absolute;bottom:0; left:0;background:url(../images/banner_bg.png) repeat; line-height: 40px;font-size:14px;color:#fff; padding-left: 15px;}
.flex-control-nav{ position:absolute;bottom:11px;right:1px; text-align: right;z-index:999; overflow:hidden; display:block;}
.flex-control-paging li{ margin:0 10px 0 0;float:left;}
.flex-control-paging li a{ width: 12px; height: 12px; line-height: 12px; background-color:#fff;border-radius:15px;text-indent:999px;}
.flex-control-paging li a:hover,.flex-control-paging li a.flex-active{background:none;width:10px;height:10px;border:2px solid #fff;border-radius:15px;}
.news_list{width:50%;overflow:hidden;font-size:1.3em;float:right;}
.news_list li{background:url(../images/icon.png) no-repeat;background-position:-19px -452px;height:2.5em;line-height:2.5em;overflow:hidden;}
.news_list li a{padding-left:12px;}
.news_list li span{float:right;margin-left:8px;}
.divCon{font-size:14px;line-height: 30px;margin-top: 18px;}
.divCon a{color:#003770;}
.divCon a:hover{opacity: 0.8}
@media screen  and (max-width:1380px) {
  .banner{width: 100%;}
}
@media screen  and (max-width:1100px) {
 .channel{position:static;padding-top:-3px;clear:both;}
 .slide_tabs{right:5px;bottom:15px;}
 .mode01{width:96%;margin:0 auto;}
 .news { width: 100%; float: none; }
 .news_con dl { float: none; width: 100% }
 .news_con dl dt { width: 100%; }
 .news_con dl dd { width: 100%; }
 .news_con dl.right { float: none; display: none; }
 .tongzhi { width: 100%; float: none; }
 .tongzhi ul li a { width: 80%; }
 .mode02 { width: 96%; margin: 0 auto; }
 .mode03 { width: 96%; margin: 36px auto 50px; }
 .xueshu { width: 100%; float: none; }
 .zhidu { width: 100%; float: none; }
 .banner { margin: 0px; }
 }

@media screen  and (max-width:800px) {
  .flex-control-nav{bottom:44px;}
  

  .tongzhi ul li a { width: 67%; }
}
@media screen  and (max-width:770px) {
	.carInfo li{font-size:1.3em;}
	.link001 div a{padding-left:9px;}
	.topicInfo li{width:29.6%;}
  .sm_con { width: auto; padding: 56px 12%; position: relative; top: 0px; left: 0px; height: auto; margin: 0 auto; display: block; }
  .sm img { display: block; margin: 0 auto; width: 100%; }
	}

@media screen and (max-width:640px) {
  .channel ul li{height:26px;line-height:26px;}
  .channel ul li a{font-size:12px;font-weight:normal;display:block}
  .topicInfo li{width:29.6%;}
  .news_pic{width:300px;}
  .news_list{margin-left:330px;}
  
 }

@media screen and (max-width:600px) {
  .news_pic{position:absolute;width:346px;left:50%;margin-left:-173px;}
  .news_list{width:100%;margin:250px 0 0 0;}
  .notice_list li{width:100%;}
  .mode01,.mode02{width:96%;margin:0 auto 20px;}
  .zhidu ul li { background: url(../images/li_03.png) no-repeat left 14px; }
  .zhidu ul li a { width: 60%; overflow: hidden; display: inline-block; }
  .xueshu ul li { background: url(../images/li_03.png) no-repeat left 8px; margin: 0 0 5px 0; }
  .xueshu ul li a { width: 60%; overflow: hidden; display: inline-block; line-height: 25px; }
}
@media screen and (max-width:480px) {
 .title01 h2{font-size:18px;width:88px;padding-left:39px;}
 .carInfo li a{font-size:1.1em;}
 .mode02 .title01 h2{width:104px;}
 .tongzhi ul li { height: auto; }
 .tongzhi ul li a { margin: 0px; }
}

@media screen /*and (min-width:320px)*/ and (max-width:360px) {
  .carInfo .talk{width:48%;}
  .carInfo .bbs{width:48%;}
}
