
body {
    margin: 0px; padding: 0px; 
    background-color: #fff; 
	color: #666;
    font-family:'Segoe UI', Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-size: 12pt;
    line-height: 26px;
}

hr { border: none; height: 1px; background-color: #ccc; color: #ccc; width: 100%; }
p { margin: 0px; padding: 5px; }

ul { margin: 0px 24px; padding: 0px; list-style: disc outside; }
ul ul { margin-top: 0px; padding-top: 0px; list-style: circle outside; }
ul ul ul { margin-top: 0px; padding-top: 0px; list-style: square outside; }

a { text-decoration:none; color: #00f; }
a:visited { text-decoration:none; color: #00f; }
a:hover { text-decoration:underline; color: #00f; }
a:active { color: #00f; }

.vspace { margin: 4px; }
p.vspace { padding: 3px; }
.content-mat { padding: 14px 15px 10px 25px; margin: auto; background: none; }
.clearer{ clear: both; display: block;  margin: 0px; padding: 0px; height: 0px; line-height: 1px; font-size: 0px; }

#header { width: 1000px; height: 135px;
          margin: 10px auto 0px auto; text-align: left; 
          background: url(image/Box-Top-Red.png) no-repeat;
        }
#header #page-title { color: #eee; font: 18pt Arial; font-weight: bold; padding: 15px 8px 8px 30px; }
#header #page-subtitle { color: #ddd; font: 12pt Arial; font-weight: bold; padding: 0px 8px 8px 30px; }
#header a { color: #ddd; }

#main { 
    width: 1000px; margin: 0px auto; 
    background: url(image/Box-Middle.jpg) repeat-y top center;
}

#main h1 { font-size: 16pt; margin: 0px; padding: 0px; }
#main h2 { font-size: 14pt; margin: 0px; padding: 0px; }
#main h3 { font-size: 12pt; margin: 0px; padding: 0px; }
#main h4 { font-size: 10pt; margin: 0px; padding: 0px; }
#main h5 { font-size: 10pt; font-style: italic; margin: 0px; padding: 0px; }

#content {
	position: relative; 
	float: left; 
	width: 945px;  
	text-align: left; 
	min-height: 400px;
}

a.anormc { color: #666; text-decoration: underline; }

ul.extraspace li { margin-top: 10px; margin-bottom: 10px; }

#wikitext {
	float: right;
    clear: right;
	width: 750px;
	padding-left: 20px;
	padding-right: 5px;
}

#sidebar a { color: #666; }

#sidebar {
	float: left;
	width: 155px;
	margin: 0px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#footer {
    background: url(image/Box-Bottom.jpg) no-repeat top center;
    width: 1000px; height: 60px;
    margin: 0px auto; padding: 0px 0px 8px 0px;
}

#copyright { margin: 0px 20px 0px 20px; padding: 2px 0px; border-top: 1px solid #ccc; font-size: 8pt; }

#menubar {
    margin: 0px 11px 0px 11px;
    padding: 2px 12px 1px 12px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #e8e8e8;
    text-align: left;
    font-size: 8pt; font-weight: bold;
	border-bottom: 1px solid #ccc;
}

#menubar ul { margin: 0px; padding: 0px; }
#menubar ul li { list-style: none; display: inline; text-indent: 0px; text-align: left; padding-right: 8px; }
#menubar a { color: #666; }

#text { margin-top: 12px; margin-bottom: 12px; font-family: monospace; }

pre {
	font-size: 9pt;
	background-color: #fffff4;
	border: 1px solid #999;
	line-height: 15px;
}

textarea { 
	margin-top: 12px; 
	margin-bottom: 12px; 
	/*font-size: 9pt; */
	font-size: 10pt;
}

.column {
	border: 0px;
	margin: 0px;
}

td.column {
	padding: 0px 10px 0px 10px;
}

.difftype,.difftime,.diffrestore {
    font-size: 8pt;
}


.lfloat {
	margin: 5px 15px 5px 0;
}

.rfloat {
	margin: 5px 0px 5px 10px;
} 

.nav3-grid {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; width: 150px; border-bottom-color: rgb(200, 200, 200); border-bottom-width: 1px; border-bottom-style: solid;
}
.nav3-grid dt a {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; padding: 5px 10px 0px 15px; height: auto !important; color: rgb(51, 102, 255); line-height: 1.5em; font-weight: bold; text-decoration: none; border-top-color: rgb(200, 200, 200); border-top-width: 1px; border-top-style: solid; display: block; min-height: 2em;
}
.nav3-grid dt a:visited {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; padding: 5px 10px 0px 15px; height: auto !important; color: rgb(51, 102, 255); line-height: 1.5em; font-weight: bold; text-decoration: none; border-top-color: rgb(200, 200, 200); border-top-width: 1px; border-top-style: solid; display: block; min-height: 2em;
}
.nav3-grid dd a {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; padding: 0px 10px 0px 40px; border: currentColor; border-image: none; height: auto !important; color: rgb(70, 122, 167); line-height: 1.7em; font-weight: normal; text-decoration: none; display: block; min-height: 1.7em;
}
.nav3-grid dd a:visited {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; padding: 0px 10px 0px 40px; border: currentColor; border-image: none; height: auto !important; color: rgb(70, 122, 167); line-height: 1.7em;  font-weight: normal; text-decoration: none; display: block; min-height: 1.7em;
}
.nav3-grid dt a:hover {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; color: rgb(254, 254, 254); text-decoration: none; background-color: rgb(137, 170, 214);
}
.nav3-grid dd a:hover {
	font-family: 'Segoe UI', Arial, Verdana, Helvetica, sans-serif;
	font-size: 100%; color: rgb(254, 254, 254); text-decoration: none; background-color: rgb(137, 170, 214);
}


.papericon {
	border-radius: 8px;	
	-moz-box-shadow: 3px 3px 6px #888;
	-webkit-box-shadow: 3px 3px 6px #888;
	box-shadow: 3px 3px 6px #888;
}